{% extends 'base.html' %}

{% block content %}
    <div class="col-sm-8 col-sm-offset-2">
    <h1 xmlns="http://www.w3.org/1999/html">{{ title }}</h1>
    <form method="GET" action="">
        <input type="text" name="q" placeholder="Search posts" value="{{ request.GET.q }}">
        <input type="button" value="Search">
    </form>

    {% for foo in object_list %}
    <div class="row">
        <div class="col-sm-12">
            <div class="thumbnail">
                <h3><a href="{{ foo.get_absolute_url }}">{{ foo.title }}</a> <small>{{ foo.timestamp | timesince }} ago</small></h3>
                {% if foo.image %}
                 <img src="{{ foo.image.url }}" class="img-responsive" alt="{{ foo.image.name }}"/>
                {% endif %}
                <div class="caption">
                {% if foo.user.get_full_name %}
                    <p>By: {{ foo.user.get_full_name }}</p>
                {% endif %}
                <p>{{ foo.content | linebreaks | truncatewords:25}}</p>
                <p><a href="{{ foo.get_absolute_url }}" class="btn btn-primary" role="button">View</a></p>
                </div>
            </div>
        </div>
        <hr/>
    </div>
    {% endfor %}

    <div class="pagination">
        <span class="step-links">
            {% if object_list.has_previous %}
                <a href="?{{ page_request_var }}={{ object_list.previous_page_number }}{% if request.get.q %}&q={{ request.GET.q }}{% endif %}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
            </span>

            {% if object_list.has_next %}
                <a href="?{{ page_request_var }}={{ object_list.next_page_number }}{% if request.get.q %}&q={{ request.GET.q }}{% endif %} ">next</a>
            {% endif %}
        </span>
    </div>

    </div>
{% endblock content %}
